{% extends 'base.html.twig' %}

{% block title %}AvisAnnonce{% endblock %}

{% block body %}
    <h1>AvisAnnonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Message</th>
                <td>{{ avis_annonce.message }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ avis_annonce.rating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_annonce_index') }}">Retour</a>
{% if app.user == annonce.idUser or app.user.roles[0] == 'ROLE_ADMIN'%}

    <a href="{{ path('app_avis_annonce_edit', {'id': avis_annonce.id}) }}">modifier</a>

    {{ include('avis_annonce/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
