{% extends 'base.html.twig' %}

{% block title %}Habitat{% endblock %}

{% block body %}
    <h1>Habitat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habitat.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ habitat.description }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ habitat.localisation }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ habitat.photo }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ habitat.prix }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ habitat.surface }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_habitat_index') }}">back to list</a>

    <a href="{{ path('app_habitat_edit', {'id': habitat.id}) }}">edit</a>

    {{ include('habitat/_delete_form.html.twig') }}
{% endblock %}
