{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Vos information personnel ✅</h1>
    {{ app.user.firstname}}</br>
    {{ app.user.name }}</br>
    {{ app.user.telephone }}</br>
    {{ app.user.email }}</br>
    {{ app.user.adresse }}</br>
    <a href="{{ path('app_user_edit', {'id': app.user.id }) }}">edit</a>

</div>
{% endblock %}