{% extends 'base.html.twig' %}

{% block title %}espace personnel{% endblock %}

{% block body %}

{% if app.user %}

<div class="container">
    <h1>Bienvenue dans votre espace personnel</h1>
    Votre prenom :{{ app.user.firstname}}</br>
    Votre nom :{{ app.user.name }}</br>
    Votre telephone :{{ app.user.telephone }}</br>
    Votre email :{{ app.user.email }}</br>
    Votre adresse :{{ app.user.adresse }}</br>
    <a class="btn btn-warning" href="{{ path('app_user_edit', {'id': app.user.id }) }}">Modifier</a>
{# <a class="btn btn-outline-danger" href="{{ path('app_user_desactive', {'id': app.user.id}) }}"></a> #}
</div>
{% endif %}
{% endblock %}