{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    {# <h1>Page acceuil</h1> #}
    {# {{ number }}
    {{ last_username }} #}
<img class="img-fluid" src="/img_website/fuji.jpg" alt="image de la nature">

<div style="margin-top: 5px;margin-bottom: 5px;"></div>
<div class="container">

<div class="card border-1  shadow-lg">
<div class="card-body px-3 pt-grid-gutter pb-0">
<p class="text-center">
Les logements atipik offrent de nombreux avantages pour ceux qui cherchent quelque chose de différent et de original. Tout d'abord, ils ont souvent des caractéristiques uniques et personnalisées qui les distinguent des logements traditionnels. Par exemple, ils peuvent avoir des formes et des tailles inhabituelles, des matériaux de construction originaux ou des caractéristiques architecturales surprenantes.
De plus, les logements atipik sont souvent situés dans des emplacements exceptionnels, comme des maisons sur pilotis ou des maisons flottantes, ce qui en fait des endroits idéaux pour ceux qui cherchent à se déconnecter de la ville et à profiter de la nature.
Vivre dans un logement atipik peut être une expérience très gratifiante pour ceux qui cherchent à sortir de leur zone de confort et à vivre de manière plus originale et créative. En choisissant un logement atipik, vous pourrez vous faire plaisir en vous offrant un lieu de vie unique et sur mesure qui vous ressemble.
</p>
</div>
</div>
<div style="margin-top: 5px;margin-bottom: 5px;"></div>

{# {{ last_username }} #}
<div class="row row-cols-auto">

    {# {% for aviss in avis %}
        {{ aviss.id }}
        {{ aviss.idAnnonce }}
        {{ aviss.idUser }}
        
    {% endfor %}
     #}
    {% for annonce in annonces %}
        {# <div class="col-sm-6 col-md-4"> #}
        <div class="col">
                <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn">
                <article>  
                <div class="card" style="width: 18rem;">
                    {# <img src="{{  img.annonce.id }}" class="card-img-top" alt="..."> #}
                    {# <img src="{{  annonce.id|img }}" class="card-img-top" alt="..."> #}

    {% set count = 0 %}
    {% for imag in imgs %}                
        {% set id_annn = imag.idAnnonce|replace({'   ': ""}) %}
        {% set annoce_id = annonce.id %}
        {% if count == 0 %}
            {% if id_annn == annoce_id %}
                <img src="{{  imag.lien }}" class="card-img-top" alt="Photo {{ annonce.titre }}">
                {% set count = 1 %}
            {% endif %} 
        {% endif %} 
    {% endfor %}
        {% if count == 0%}
                <img src="\img_website\home-outline.svg" class="card-img-top" height="114" alt="Pas d'image sur cette annnonces">
        {% endif %} 
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ annonce.titre }}</h1>
                        <p class="card-text">
                        <div class="truncate">
                        {# {{ annonce.description  }} #}
                        </div>
                        {# <br>
                        {{ annonce.adresse }}
                        <br> #}
                        <div class="text-center">
                        {{ annonce.prix }} € / par nuit
                        </div>
                        <br>  
                        <small>                                              
                        <div class="text-end">{{ annonce.ville }}</div>
                        </small>
                        </p>
                        {# <div class="text-center">
                            <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Voir Plus</a>
                        </div> #}
                    </div>
                </div>
            </article>
            </a>
            </div>
            {% else %}
                <div class="text-center h5">no reward</div>
            {% endfor %}
    </div>
<div style="margin-top: 5px;margin-bottom: 5px;"></div>

<div class="text-center">
<a class="btn btn-outline-primary" href="/annonce">Voir Toute les annonces </a>
</div>
<div style="margin-top: 5px;margin-bottom: 5px;"></div>

    <div class="row">
        <div class="col-sm-12 col-md-6 align-items-center" style="margin-top: 80px;">
        Si vous cherchez à vivre une expérience de vacances originale et inoubliable, pourquoi ne pas opter pour un logement atipik ? Ces logements uniques offrent tout ce qu'il faut pour des vacances inoubliables : emplacements exceptionnels, caractéristiques architecturales surprenantes et ambiance chaleureuse et accueillante.

        Que vous cherchiez une maison sur pilotis, une cabane dans les arbres ou une roulotte vintage, vous trouverez certainement le logement atipik de vos rêves. Et avec leur caractère unique et leur décor personnalisé, ces logements vous permettront de vous déconnecter de la vie quotidienne et de vous ressourcer en toute tranquillité.

        Alors pourquoi attendre ? Faites de vos prochaines vacances une expérience inoubliable en choisissant un logement atipik !
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{{ asset('/img_website/lake.jpg') }}" class="img-fluid" alt="photo de lake">
        </div>
    </div>


</div>

     {# {{ app.user.roles[0] }} #}
     
    {% endif %}



    {# {% for i in id %}
      {{ i }}                
    {% endfor %} #}

    {#
<div style="background:rgba(136, 209, 138, 1);">
            <div class="row pb-3">
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><i class="ci-rocket noir" style="font-size: 1.25rem;"></i>
                  <div class="ps-3">
                    <h6 class="fs-base mb-1 noir">worldwide express delivery with DHL</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><i class="bi bi-currency-exchange" style="font-size: 1.25rem;"></i>
                  <div class="ps-3">
                    <h6 class="fs-base mb-1 noir">Paiement sécurisé</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><i class="bi bi-card-checklist" style="font-size: 1.25rem;"></i>
                  <div class="ps-3">
                    <h6 class="fs-base mb-1 noir">Des proprietaires certifier par nos soins</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><i class="ci-package noir" style="font-size: 1.25rem;"></i>
                  <div class="ps-3">
                    <h6 class="fs-base mb-1 noir">More than 3000 Models Available</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
#}

  {% endblock %}
