{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}

<div class="container">
    <h1>Register</h1>
{# <div class="position-relative m-4">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
  <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
</div> #}
    <div class="row g-3 align-items-center">
    {{ form_start(registrationForm) }}
        
    <div class="col-auto">
        {{ form_row(registrationForm.Name, {label: 'Votre nom'}) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.firstname) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.adresse) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.telephone) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>

        {{ form_row(registrationForm.agreeTerms, { label: "Termes et conditions " }) }}

        <button type="submit" class="btn btn-outline-success">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}
