{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}


{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
{# 
{{ app.request.uri }}
{{ app.request.pathinfo }}
{{ app.request.requesturi }} #}
{% if app.request.pathinfo == '/register' %}
{% set re = 1 %}
{% else %}
{% set re = 2 %}
{% endif %}
{# /register #}

<div class="container">
    <h1>Inscription 
    {% if re == 1 %}
    client
    {% else %}
    professionnel
    {% endif %}
    </h1>
    {% if re == 1 %}
    <a href="user/proprietaire/">Devenir professionnel</a>
    {% else %}
    <a href="/register">Devenir client</a>
    {% endif %}
    
{# <div class="position-relative m-4">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
  <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
</div> #}
    <div class="row g-3 align-items-center container" >
    {{ form_start(registrationForm) }}
        
    <div class="col-auto">
        {{ form_row(registrationForm.Name, {label: 'Votre nom '}) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.firstname, {
            label: 'Prenom'
        }) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.adresse, {
            label: 'Adresse'
        }) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.telephone, {
            label: 'Telephone'
        }) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.email, {
            label: 'Mail'
        }) }}
    </div>
    <div class="col-auto">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        </div>

        {{ form_row(registrationForm.agreeTerms, { label: "Termes et conditions " }) }}

        <button type="submit" class="btn btn-outline-success">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
<div class="p-2"></div>
{% endblock %}
