{% block body %}
      <table>
        {% for reservation in reservations %}
            <tr>
            
    {% if reservation.statue == 0 %}
                
                {# <td>{{ reservation.idUser }}</td> #}
                <td>{{ reservation.DateDebut ? reservation.DateDebut|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.DateFin ? reservation.DateFin|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.NbNuit }}</td>
                <td>{{ reservation.Total }} € </td>
                <td>{% if reservation.StatuePayment == 1 %}<i class="bi bi-bag-fill"></i>{% else %}<i class="bi bi-bag-plus"></i>{% endif %}</td>
                <td>{% if reservation.Statue == 1 %}<i class="bi bi-bag-check"></i>{% elseif reservation.Statue == 2 %}<i class="bi bi-bag-x"></i>{% else %}<i class="bi bi-bag"></i>{% endif %}</td>
    {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
