{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date de Debut</th>
                <td>{{ reservation.DateDebut ? reservation.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Fin</th>
                <td>{{ reservation.DateFin ? reservation.DateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de Nuit</th>
                <td>{{ reservation.NbNuit }}</td>
            </tr>
            <tr>
                <th>Total TTC</th>
                <td>{{ reservation.Total }}</td>
            </tr>
            <tr>
                <th>Statue</th>
                <td>{{ reservation.Statue }}</td>
            </tr>
            <tr>
                <th>Statue du Payment</th>
                <td>{{ reservation.StatuePayment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">Retour en arrière</a>

    <a class="btn btn-outline-danger" href="{{ path('app_reservation_annuler', {'id': reservation.id}) }}">Annulé</a>
{% endblock %}
