{{ form_start(form) }}
        {# {{ form_widget(form.prix) }} #}

    <div class="col-auto">
    {{ form_widget(form) }}
    </div>
    {% set catcont = 0 %}
<label for="selection">
categorie
</label>
<select name='categorie' id="selection">
    {% for cat in CategoryRepository %}
      {# {{ cat.libelle }} #}
   <option value="{{ cat.id }}">{{ cat.libelle }}</option>
      {% set catcont = catcont + 1 %}

    {% endfor %}
</select>
    {% set ii = 0 %}
    {% set first = 0 %}
    {% for LebelleOptionAnnonceRepos in LebelleOptionAnnonceRepository %}

    {% if ii == 0 %}{% set first = LebelleOptionAnnonceRepos.idCategory %}{% endif %}
      <div class="id-{{ LebelleOptionAnnonceRepos.idCategory }}" {% if first != LebelleOptionAnnonceRepos.idCategory %} style="display:none"{% endif %}>
      <label>
      {{ LebelleOptionAnnonceRepos.value }} {% if LebelleOptionAnnonceRepos.status == 1 %} * {% endif %}
      <input type="text" id="values" class="form-control" name="values[{{ LebelleOptionAnnonceRepos.id }}]" placeholder="{{ LebelleOptionAnnonceRepos.value }}">
      </label>
      
      </div>
      {% set ii = ii + 1 %}
    {% endfor %}
<div id="tot" style="display:none">
{{ ii }}
</div> 
<div id="catcount" style="display:none;">
{{ catcont }}
</div>

<script>

function te(){
   for (let cat = 1; cat <= catcount.textContent; cat++) {
  if(selectElement.value != cat){
  var elements = document.querySelectorAll(".id-"+cat);
  elements.forEach(element => {
  element.style.display = 'none';
   });
    }
    else{
    var elements = document.querySelectorAll(".id-"+selectElement.value);
    // element.style.display = 'block'; 
  elements.forEach(element => {
    element.style.display = 'block';
});
    }

  }

 
}

var tot = document.querySelector('#tot');
var catcount = document.querySelector('#catcount');
var selectElement = document.querySelector('#selection');
selectElement.addEventListener('change', () => {
 te(); 
});
</script>    
<br>
      {# <input type="file" id="files" name="files" multiple> #}
      
    <button class="btn btn-outline-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}