{{ form_start(form) }}
    
    {# {{ form_widget(form.prix) }} #}

    <div class="col-auto">
    {{ form_widget(form) }}
    </div>
    {% set catcont = 0 %}
<select name='categorie' id="selection">
    {% for cat in CategoryRepository %}
      {# {{ cat.libelle }} #}
   <option value="{{ cat.id }}">{{ cat.libelle }}</option>
      {% set catcont = catcont + 1 %}

    {% endfor %}
</select>
    {% set ii = 0 %}
    {% set first = 0 %}
    {# first #}
    {% for LebelleOptionAnnonceRepos in LebelleOptionAnnonceRepository %}

    {# {% set tab ~ LebelleOptionAnnonceRepos.idCategory =[LebelleOptionAnnonceRepos.value] %} #}
    {# {% set tab[LebelleOptionAnnonceRepos.idCategory] = tab[LebelleOptionAnnonceRepos.idCategory]|merge([LebelleOptionAnnonceRepos.value]) %} #}
    {% if ii == 0 %}{% set first = LebelleOptionAnnonceRepos.idCategory %}{% endif %}
      <div class="id-{{ LebelleOptionAnnonceRepos.idCategory }}" {% if LebelleOptionAnnonceRepos.idCategory == first %}style="display:none"{% endif %}>
      <label>
      {{ LebelleOptionAnnonceRepos.value }} {% if LebelleOptionAnnonceRepos.status == 1 %} * {% endif %}
      <input type="text" id="values" class="form-control" name="values[{{ LebelleOptionAnnonceRepos.id }}]" placeholder="Saisissez encore une valeur">
      </label>
      {# {{ LebelleOptionAnnonceRepos.id }} #}
      
      </div>
      {% set ii = ii + 1 %}
    {% endfor %}
<div id="tot" style="display:none">
{{ ii }}
</div> 
<div id="catcount" style="display:none;">
{{ catcont }}
</div>

<script>

function add_15_prix(){
var selectElement = document.getElementById('annonce2_prix');

selectElement.value = selectElement.value * 1.15;

}

var input = document.getElementById('annonce2_prix');
input.onchange = function() {
  add_15_prix();
}






var selectElement = document.querySelector('#reservation_DateDebut_day');
selectElement.addEventListener('change', () => {
te();
});


var tot = document.querySelector('#tot');
var catcount = document.querySelector('#catcount');
var selectElement = document.querySelector('#selection');
selectElement.addEventListener('change', () => {
  // alert(`You selected: ${selectElement.value}`);
  //console.log(tot.textContent);
  //console.log(selectElement.value);
  // console.log(catcount.textContent);
  //for (let i = 1; i <= tot.textContent; i++) {
  for (let cat = 1; cat <= catcount.textContent; cat++) {
  if(selectElement.value != cat){
  var elements = document.querySelectorAll(".id-"+cat);
  elements.forEach(element => {
  element.style.display = 'none'; });
    }
    else{
    var elements = document.querySelectorAll(".id-"+selectElement.value);
    // element.style.display = 'block'; 
  elements.forEach(element => {
    element.style.display = 'block';
});
    }
  console.log('fai'+cat);

  }
  //}

  
});
</script>    
<br>
      {# <input type="file" id="files" name="files" multiple> #}
      
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
