
{% block body %}
<h1>Habitat</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ annonce.titre }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ annonce.description }}</td>
        </tr>
        <tr>
            <td>{{ annonce.adresse }}</td>
            <td>{{ annonce.Ville }}</td>
            <td>{{ annonce.CodePostal }}</td>
        </tr>
        <tr>
            <th>Prix  € / par nuit</th>
            <td id="prix">{{ annonce.prix }}</td>
        </tr>
        <tr>
            <td id='dateofmin'>{{ annonce.datedebut ? annonce.datedebut|date('d/m/Y') : '' }}</td>
            <td>-></td>
            <td id='dateofmax'>{{ annonce.dateFin ? annonce.dateFin|date('d/m/Y') : '' }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
