
{% block body %}
<h1>{{ annonce.titre }}</h1>

<table class="table">
    <tbody>
        <tr>
            <td>{{ annonce.description }}</td>
        </tr>
        <tr>
            <td>{{ annonce.adresse }}  {{ annonce.Ville }}  {{ annonce.CodePostal }}  {{ annonce.Pays }}</td>
        </tr>
        <tr>
        <td>
            <div>Prix  € / par nuit</div>
            <div id="prix">{{ annonce.prix }}</div>
            </td>
        </tr>
        <tr>
            <td>
            <div class="row">
            <div class="col-3">
            <div id='dateofmin'>{{ annonce.datedebut ? annonce.datedebut|date('d/m/Y') : '' }}</div>
            </div>
            <div class="col-3">
            <div> -- > </div>
            </div>
            <div class="col-3">
            <div id='dateofmax'>{{ annonce.dateFin ? annonce.dateFin|date('d/m/Y') : '' }}</div>
            </div>
            </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
