{% extends 'base.html.twig' %}

{% block title %}Gestion des Hébergements{% endblock %}

{% block body %}
    <h1>Gestion des Hébergements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Ville<br>CodePostal<br>Pays</th>
                <th>Prix</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.adresse }}</td>
                <td>{{ annonce.Ville }}<br>{{ annonce.CodePostal }}<br>{{ annonce.Pays }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.datedebut ? annonce.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.dateFin ? annonce.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                {% if annonce.status == 0 %}
                    <a class="btn btn-outline-success" href="{{ path('app_annonce_active', {'id': annonce.id}) }}">activer</a>
                    {% else %}
                    <a class="btn btn-outline-secondary" href="{{ path('app_annonce_desactive', {'id': annonce.id}) }}">desactiver</a>
                {% endif %}
                    
                    <a class="btn btn-outline-dark" href="{{ path('app_annonce_show', {'id': annonce.id}) }}">voir</a>
                    <a class="btn btn-outline-dark" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_annonce_new') }}">Create new</a> #}
{% endblock %}
