{% extends 'base.html.twig' %}

{% block title %}Annonce en attente{% endblock %}

{% block body %}
    <h1>Annonce en attente</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Ville<br>CodePostal<br>Pays</th>
                <th>Prix</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.adresse }}</td>
                <td>{{ annonce.Ville }}<br>{{ annonce.CodePostal }}<br>{{ annonce.Pays }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.datedebut ? annonce.datedebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.dateFin ? annonce.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_annonce_attente', {'id': annonce.id}) }}">activer</a>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
