    {% extends 'base.html.twig' %}

    {% block title %}Annonce index{% endblock %}

    {% block body %}


    <div class="container">
        <div class="row row-cols-auto">
            {% for annonce in annonces %}
            {# <div class="col-sm-6 col-md-3"> #}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {# <img src="{{  img.annonce.id }}" class="card-img-top" alt="..."> #}
                    {# <img src="{{  annonce.id|img }}" class="card-img-top" alt="..."> #}

    {% set count = 0 %}
    {% for imag in imgs %}                
        {% set id_annn = imag.idAnnonce|replace({'   ': ""}) %}
        {% set annoce_id = annonce.id %}
        {% if count == 0 %}
            {% if id_annn == annoce_id %}
                <img src="{{  imag.lien }}" class="card-img-top" alt="...">
                {% set count = 1 %}
            {% endif %} 
        {% endif %} 
    {% endfor %}
        {% if count == 0%}
                <img src="\img_website\home-outline.svg" class="card-img-top" height="114" alt="...">
        {% endif %} 
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.titre }}</h5>
                        <p class="card-text">
                        <div class="truncate">
                        {{ annonce.description  }}
                        </div>
                        {# <br>
                        {{ annonce.adresse }}
                        <br> #}
                        {{ annonce.ville }}
                        <br>
                        <div class="">
                        {{ annonce.prix }} € / par nuit
                        </div>
                        </p>
                        <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-outline-primary">Voir Plus</a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="text-center h5">Pas d'annonces</div>
            {% endfor %}
    </div>
        </div>
        <br>
        {# <a href="{{ path('app_annonce_new') }}">Create new</a> #}
    {% endblock %}
