{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ annonce.titre }}</h1>
<div class="row">
<div class="col-md-6">
<div class="row">

{% set count = 0 %}
    {% for imag in img %}                
        {% set id_annn = imag.idAnnonce|replace({'   ': ""}) %}
        {% set annoce_id = annonce.id %}
        {# {% if count == 0 %} #}
            {% if id_annn == annoce_id %}
            <div class="col{% if count == 0 %}-12{% endif %} ">
                <img src="{{  imag.lien }}" class="card-img-top"  alt="{{ annonce.titre }}" height="114" onclick="window.open(this.src)">
            </div>
                {% set count = 1 %}
            {% endif %} 
        {# {% endif %}  #}
    {% endfor %}
        {% if count == 0%}
                <img src="\img_website\home-outline.svg" class="card-img-top" height="114" alt="image annonce">
        {% endif %} 
</div>
</div>
{# </div> #}
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
    <table class="table">
        <tbody>
            <tr>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <td>{{ annonce.adresse }}  {{ annonce.Ville }}  {{ annonce.CodePostal }}</td>
            </tr>
            <tr>
                <td><i class="bi bi-person-fill"></i> {{ annonce.nbmax }}</td>
            </tr>
            
            <tr>
                <td>Debu de disponibiliter {{ annonce.datedebut ? annonce.datedebut|date('Y-m-d') : '' }}</td>
            </tr>     
            <tr>
                <td>Fin de disponibiliter {{ annonce.dateFin ? annonce.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
    {% set count_for_cat = 0 %}

    {% for opts in opt %}
        {% if opts.idAnnonce == annonce %}
    {% for loannonces in loannonce %}
  
    
    {% if loannonces == opts.idLibelle %}
    {% for CategoryRepositorys in CategoryRepository %}
                {% if CategoryRepositorys == loannonces.idCategory %}
                    {% if count_for_cat == 0 %}
                    <tr>
                        <td>Category</td>
                        <td>{{ CategoryRepositorys.libelle }}</td>
                    </tr>
                    {% else %}
                    {% endif %}
                    {% set count_for_cat = 1 %}
                {% endif %}
            {% endfor %}

    <tr>

            <td>{{ loannonces.value }}</td>
            <td>{{ opts.valeur }}</td>
            {% if app.user %}
                {% if app.user == annonce.idUser or app.user.roles[0] == 'ROLE_ADMIN'%}
                <td><a href="{{ path('app_option_annonce_edit', {'id': opts.id}) }}">modifier</a></td>
                {% endif %}
            {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
            {# {{ opts.idLibelle }} #}
        {% else %}
        {% endif %}
    {% endfor %}
    {# 'opt'=>$opt->findAll(),
    'loannonce'=>$loannonce->findAll(),
    'CategoryRepository'=>$CategoryRepository->findAll(), #}
    </table>
    </div>
    <div class="col-md-6 text-center">
{{ annonce.prix }} € / par nuit
    </div>
    </div>
    
{% if app.user %}
<div class="p-2"></div>
<a href="/reservation/new?idannonce={{ annonce.id }}" class="btn btn-outline-success">Reserver maintenant</a>
<div class="p-3"></div>

{# {{ app.user }}
{{ annonce.idUser }} #}
{% if app.user == annonce.idUser or app.user.roles[0] == 'ROLE_ADMIN'%}
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Modifier
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="btn" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier</a>
    </li>
      <li>{{ include('annonce/_delete_form.html.twig') }}</li>
    </ul>
  </div>
    
{% endif %}
{{ render(controller(
        'App\\Controller\\AvisAnnonceController::avisannonce', {id: annonce.id }
    )) }}

    <a href="{{ path('app_avis_annonce_new')}}?idannonce={{ annonce.id }}">ajouter avis</a>

{% else %}
<a href="/login" class="btn btn-outline-success">Reserver maintenant</a>

{% endif %}

</div>

</div>
</div>


<div>
    {{ render(controller(
        'App\\Controller\\AnnonceController::sugestion', {id: annonce.idCategory }
    )) }}

{% endblock %}
