{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="row">
{% set count = 0 %}
    {% for imag in img %}                
        {% set id_annn = imag.idAnnonce|replace({'   ': ""}) %}
        {% set annoce_id = annonce.id %}
        {# {% if count == 0 %} #}
            {% if id_annn == annoce_id %}
            <div class="col{% if count == 0 %}-12{% endif %} ">
                <img src="{{  imag.lien }}" class="card-img-top"  alt="..." onclick="window.open(this.src)">
            </div>
                {% set count = 1 %}
            {% endif %} 
        {# {% endif %}  #}
    {% endfor %}
        {% if count == 0%}
                <img src="\img_website\home-outline.svg" class="card-img-top" height="114" alt="...">
        {% endif %} 
</div>
</div>
{# </div> #}
<div class="col-md-6">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annonce.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ annonce.Ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ annonce.CodePostal }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ annonce.datecreation ? annonce.datecreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ annonce.status }}</td>
            </tr>
        </tbody>
    </table>
aaa

  {# {% for key, value in opt  %} #}
    {# {% for op in opt %}
        {{ op.idAnnonce }}
        {{ op.idLibelle }}
        {{ dump(op) }}
        {{ op.valeur }}
        {{ key }}
    {% endfor %} #}
    {# {% for libel in loannonce %}
        {{ libel.id }}
        {{ libel.value }}
        {{ libel.optionAnnonces }}
        {% for optionAnnonces in libel.optionAnnonces %}
            {{ optionAnnonces.optionAnnonces }}
        {% endfor %}
    {% endfor %} #}
    {# {% for a in img %}
        {{img.id}}
        {{ a.id }}
    {% endfor %} #}
aaa

    <a href="{{ path('app_annonce_index') }}">back to list</a>
{% if app.user %}
{{ app.user }}
{{ annonce.id_User }}
{# {% if app.user == annonce.id_User %} #}
    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
    {{ include('annonce/_delete_form.html.twig') }}
{# {% endif %} #}
{% endif %}

</div>

</div>
</div>

{% endblock %}
