{% extends 'base.html.twig' %}

{% block title %}Hébergements{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ annonce.titre }}</h1>
<div class="row">
<div class="col-md-6">
<div class="row">

{% set count = 0 %}
    {% for imag in img %}                
        {% set id_annn = imag.idAnnonce|replace({'   ': ""}) %}
        {% set annoce_id = annonce.id %}
        {# {% if count == 0 %} #}
            {% if id_annn == annoce_id %}
            <div class="col{% if count == 0 %}-12{% endif %} ">
                <img src="{{  imag.lien }}" class="card-img-top"  alt="{{ annonce.titre }}" onclick="window.open(this.src)">
            </div>
                {% set count = 1 %}
            {% endif %} 
        {# {% endif %}  #}
    {% endfor %}
        {% if count == 0%}
                <img src="\img_website\home-outline.svg" class="card-img-top" alt="image annonce">
        {% endif %} 
</div>
{{ annonce.description }}

{{ render(controller(
        'App\\Controller\\AvisAnnonceController::avisannonce', {id: annonce.id }
    )) }}
{% if app.user %}

<a class="btn btn-success" href="{{ path('app_avis_annonce_new')}}?idannonce={{ annonce.id }}">ajouter avis</a>
{% endif %}
</div>
{# </div> #}
<div class="col-md-6">
<div class="row">
<div class="col-md-6">
    <div class="row">
    <div><i class="bi bi-geo-alt-fill"></i> {{ annonce.adresse }}  {{ annonce.Ville }}  {{ annonce.CodePostal }} {{ annonce.Pays }}</div>
    <hr>
<div><i class="bi bi-person-fill"></i> {{ annonce.nbmax }}</div>
<hr>
<div>Debut Disponibiliter {{ annonce.datedebut ? annonce.datedebut|date('d/m/Y') : '' }}  ==> Fin Disponibiliter {{ annonce.dateFin ? annonce.dateFin|date('d/m/Y') : '' }}</div>
<hr>
    </div>
    <table class="table">
    {% set count_for_cat = 0 %}

    {% for opts in opt %}
        {% if opts.idAnnonce == annonce %}
    {% for loannonces in loannonce %}
  
    
    {% if loannonces == opts.idLibelle %}
    {% for CategoryRepositorys in CategoryRepository %}
                {% if CategoryRepositorys == loannonces.idCategory %}
                    {% if count_for_cat == 0 %}
                    <tr>
                        <td>Categorie</td>
                        <td>{{ CategoryRepositorys.libelle }}</td>
                    </tr>
                    {% else %}
                    {% endif %}
                    {% set count_for_cat = 1 %}
                {% endif %}
            {% endfor %}

    <tr>

            <td>{{ loannonces.value }}</td>
            <td>{{ opts.valeur }}</td>
            {% if app.user %}
                {% if app.user == annonce.idUser or app.user.roles[0] == 'ROLE_ADMIN'%}
                <td><a class="btn btn-warning" href="{{ path('app_option_annonce_edit', {'id': opts.id}) }}">modifier</a></td>
                {% endif %}
            {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
            {# {{ opts.idLibelle }} #}
        {% else %}
        {% endif %}
    {% endfor %}
    {# 'opt'=>$opt->findAll(),
    'loannonce'=>$loannonce->findAll(),
    'CategoryRepository'=>$CategoryRepository->findAll(), #}
    </table>
    </div>
    <div class="col-md-6 text-center h2">
{{ annonce.prix }} € / nuit
    </div>
    </div>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Contacter le proprietaire
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        {% for usee in user %}
        {% if usee ==  annonce.idUser %}
        Mail: <a href="mailto:{{ usee.email }}">{{ usee.email }}</a><br>
        Telephone :{{ usee.telephone }}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if app.user %}
<div class="p-2"></div>
<a href="/reservation/new?idannonce={{ annonce.id }}" class="btn btn-outline-success">Reserver maintenant</a>
<div class="p-3"></div>

{# {{ app.user }}
{{ annonce.idUser }} #}


{% if app.user == annonce.idUser or app.user.roles[0] == 'ROLE_ADMIN'%}
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Modifier
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="btn" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier</a>
    </li>
      <li>{{ include('annonce/_delete_form.html.twig') }}</li>
    </ul>
  </div>
    
{% endif %}
{% else %}
<a href="/login" class="btn btn-outline-success">Reserver maintenant</a>

{% endif %}

</div>

</div>
</div>


<div class="container">
<h2>Habitations susceptible de vous plaire </h2>
    {{ render(controller(
        'App\\Controller\\AnnonceController::sugestion', {id: annonce.idCategory }
    )) }}
</div>
{% endblock %}
