{% extends 'base.html.twig' %}

{% block title %}ImageAnnonce index{% endblock %}

{% block body %}
    <h1>ImageAnnonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id</th>
                <th>Id</th>
                <th>Lien</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_annonce in image_annonces %}
            <tr>
                <td>{{ image_annonce.idLibelle }}</td>
                <td>{{ image_annonce.idAnnonce }}</td>
                <td>{{ image_annonce.id }}</td>
                <td>{{ image_annonce.lien }}</td>
                <td>{{ image_annonce.status }}</td>
                <td>
                    <a href="{{ path('app_image_annonce_show', {'id': image_annonce.id}) }}">show</a>
                    <a href="{{ path('app_image_annonce_edit', {'id': image_annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_annonce_new') }}">Create new</a>
{% endblock %}
