{% extends 'base.html.twig' %}

{% block title %}Nom de champs personnalisé{% endblock %}

{% block body %}
<div class="container">
    <h1>Nom de champs personnalisé</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Valeur</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lebelle_option_annonce in lebelle_option_annonces %}
            <tr>
                <td>{{ lebelle_option_annonce.value }}</td>
                <td>{{ lebelle_option_annonce.status }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_lebelle_option_annonce_show', {'id': lebelle_option_annonce.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_lebelle_option_annonce_edit', {'id': lebelle_option_annonce.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de champs personnalisé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_lebelle_option_annonce_new') }}">Create new</a>
</div>
{% endblock %}
