{% extends 'base.html.twig' %}

{% block title %}DocumentProprietaire index{% endblock %}

{% block body %}
    <h1>DocumentProprietaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lien</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document_proprietaire in document_proprietaires %}
            <tr>
                <td>{{ document_proprietaire.id }}</td>
                <td>{{ document_proprietaire.lien }}</td>
                <td>{{ document_proprietaire.status }}</td>
                <td>
                    <a href="{{ path('app_document_proprietaire_show', {'id': document_proprietaire.id}) }}">show</a>
                    <a href="{{ path('app_document_proprietaire_edit', {'id': document_proprietaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_proprietaire_new') }}">Create new</a>
{% endblock %}
