<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/png" href="{{ asset('img_website/favicon.png') }}" />
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="{{ asset('asset/css/css-custom.css') }}" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {# <link rel="icon" type="image/png" sizes="16x16" href="img_website/logo.png"> #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
 
 
 
    </head>
    <body>
<header class="site-header">
{# 3C91E6
#88D18A #}
<nav class="navbar navbar-expand-lg bg-light" style="background:rgba(60, 145, 230, 0.3) !important" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/img_website/zyro-image_img_pn.png" style="height: 80px;" alt="Logo hatipik House " /></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/annonce"> <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="18.000000pt" height="18.000000pt" viewBox="0 0 40.000000 40.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,40.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M191 332 c-1 -8 -6 -10 -13 -6 -9 6 -9 3 0 -9 12 -14 7 -32 -38 -131
-30 -67 -59 -117 -68 -119 -10 -3 48 -5 128 -5 85 -1 137 3 125 8 -14 5 -38
46 -69 116 -42 92 -47 110 -36 127 10 17 10 19 -3 14 -9 -3 -18 -1 -21 6 -3 9
-5 8 -5 -1z m62 -164 l46 -98 -34 0 c-29 0 -35 4 -46 35 -7 19 -16 35 -19 35
-4 0 -14 -16 -23 -35 -14 -29 -22 -35 -47 -35 l-30 0 26 57 c14 32 35 80 46
106 12 26 24 44 28 40 5 -4 28 -52 53 -105z m-33 -90 c0 -4 -11 -8 -25 -8 -23
0 -24 2 -13 26 11 24 13 25 25 8 7 -10 13 -21 13 -26z"/>
</g>
</svg> Hébergements</a>
        </li>
    {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/reservation"><i class="bi bi-bag"></i> Reservation</a>
        </li>
     {% if (app.user.roles[0] == 'ROLE_PRO') or (app.user.roles[0] == 'ROLE_ADMIN')  %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/annonce/new"><i class="bi bi-house-add"></i> Crée un Hébergement</a>
      </li> <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/annonce/mesannonces"><i class="bi bi-house-door"></i> Mes Hébergements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/annonce/commande"><i class="bi bi-house-door"></i> Réservation en attente</a>
      </li>
     {% endif %}
     {% if app.user.roles[0] == 'ROLE_ADMIN'  %}
      <li class="nav-item">
        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-current="page" href="/annonce/new"><i class="bi bi-house-add"></i> Administré</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category">Catégorie</a></li>
            <li><a class="dropdown-item" href="/annonce/admin">Hébergements</a></li>
            <li><a class="dropdown-item" href="/user/">Utilisateurs</a></li>
          </ul>
      </li>

     {% endif %}
    {% endif %}

      </ul>
      
    {% if app.user %}
      <span class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">{{ app.user.userIdentifier }} <i class="bi bi-box-arrow-right"></i> &nbsp&nbsp</a>
        </span>
      {% else %}
        <span class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg data-id="SVG_INVITE__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" d="M17.174 14.344v5.322M14.513 17.005h5.322M4.165 19.685a20.536 20.536 0 007.871 1.565M11.944 11.906a7.735 7.735 0 00-2.976.595 7.777 7.777 0 00-4.802 7.184"></path><path stroke="currentColor" d="M16.018 7.837a4.07 4.07 0 01-4.07 4.07h-.01a4.07 4.07 0 01-4.068-4.07V6.82a4.07 4.07 0 014.069-4.069h.01a4.07 4.07 0 014.069 4.07v1.017z" clip-rule="evenodd"></path></svg> Inscription  </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/register">Client</a></li>
            <li><a class="dropdown-item" href="/user/proprietaire">Proprietaire</a></li>
          </ul>
        </span>
      
      <span class="nav-item">
          <a class="nav-link" href="/login"> / <svg data-id="SVG_PERSON__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" d="M4.129 19.685a20.558 20.558 0 0011.884 1.17 20.558 20.558 0 003.858-1.17"></path><path stroke="currentColor" d="M11.907 11.906c-.992 0-2.002.19-2.976.595a7.777 7.777 0 00-4.802 7.184M12.093 11.906a7.78 7.78 0 017.778 7.778"></path><path stroke="currentColor" d="M15.982 7.837a4.07 4.07 0 01-4.07 4.07h-.01a4.07 4.07 0 01-4.068-4.07V6.82a4.07 4.07 0 014.069-4.069h.01a4.07 4.07 0 014.069 4.07v1.017z" clip-rule="evenodd"></path></svg>  CONNEXION</a>
        </span>
    {% endif %}

      {# <span class="nav-item">
          <a class="nav-link" href="/help">Aide</a>
        </span> #}
        
    </div>
  </div>
</nav>
</header>


{# <div style="margin-top: 5px;margin-bottom: 5px;"></div> #}



{# <img src="/img_website/logo.png" /> #}
        {% block body %}{% endblock %}





{# <div style="margin-top: 5px;margin-bottom: 5px;"></div> #}

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="color: #000000 !important; background-color: #EDEDED !important);">
{#  
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Atipik house</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
#}
  <!-- Section: Links  -->
  <section class="p-1" style="background:rgba(54, 130, 127, 0.6);">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h2 class="text-uppercase h6 fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Atipik House
          </h2>
          <p>
            Les habitats les plus Atipik de France
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4 h6">
            Compte
          </h2>
    {% if app.user %}
          <p>
            <a href="/account" class="text-reset">Mon espace</a>
          </p>
          <p>
            <a href="/reservation" class="text-reset">Reservation</a>
          </p>
    {% else %}
          <p>
            <a href="/register" class="text-reset"><svg data-id="SVG_INVITE__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" d="M17.174 14.344v5.322M14.513 17.005h5.322M4.165 19.685a20.536 20.536 0 007.871 1.565M11.944 11.906a7.735 7.735 0 00-2.976.595 7.777 7.777 0 00-4.802 7.184"></path><path stroke="currentColor" d="M16.018 7.837a4.07 4.07 0 01-4.07 4.07h-.01a4.07 4.07 0 01-4.068-4.07V6.82a4.07 4.07 0 014.069-4.069h.01a4.07 4.07 0 014.069 4.07v1.017z" clip-rule="evenodd"></path></svg> Inscription</a>
          </p>
          <p>
            <a href="/login" class="text-reset">Se connecter</a>
          </p>
      {% endif %}
          <p>
            <a href="/help" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h2 class="text-uppercase fw-bold mb-4 h6">Contact</h2>
          <p><i class="fas fa-home me-3"></i> Paris, 75008, FR</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

{# 7F675B #}
{# 36827F #}
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(127, 103, 91, 0.3);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">AtipikHouse.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7L3DW6QH7L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7L3DW6QH7L');
</script>

        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
