{% extends 'base.html.twig' %}


{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>{{ user.telephone }}</td>
                <td>{% if user.status == 1 %}Activer{% elseif user.status == 3 %}Bloquer{% else %}compte suspendue{% endif %}</td>
                <td>{{ user.commentaire }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_user_active', {'id': user.id}) }}">active</a>
                    <a class="btn btn-outline-info" href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
