
{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe {% endblock %}

{% block body %}
    <h1>Réinitialisation de votre mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-outline-success">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    <a class="btn btn-outline-dark" href="{{ path('app_user_index') }}">< Retour en arrière</a>
{% endblock %}
