{% extends 'base.html.twig' %}


{% block title %}Compte proprietaire a activer{% endblock %}

{% block body %}
{% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}

    <h1>Compte proprietaire a activer</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Adresse</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.status == 0 %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{% if user.status == 0 %}A activer{% else %}Activer{% endif %}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.commentaire }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('app_user_active', {'id': user.id}) }}">active</a>
                        <a class="btn btn-outline-dark" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a class="btn btn-outline-dark" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endif %}
{% endblock %}
