{% extends 'base.html.twig' %}


{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Recup_mdp</th>
                <th>Adresse</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.status == 0 %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.recupMdp }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.commentaire }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('app_user_active', {'id': user.id}) }}">active</a>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
